.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}
.main h1{
    font-size: 30px;
    color:darkslategray
}